Repository bsideup/liiklus, pull requests merged in 2019-08, with the labels that each got.

#158 Pulsar: TLS and Authentication support
  plugins/pulsar-records-storage/build.gradle
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/config/PulsarRecordsStorageConfiguration.java
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorageTest.java
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/config/PulsarRecordsStorageConfigurationTest.java
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/container/PulsarTlsContainer.java
  plugins/pulsar-records-storage/src/test/resources/.htpasswd
  plugins/pulsar-records-storage/src/test/resources/certs/README.md
  plugins/pulsar-records-storage/src/test/resources/certs/broker.cert.pem
  plugins/pulsar-records-storage/src/test/resources/certs/broker.key-pk8.pem
  plugins/pulsar-records-storage/src/test/resources/certs/ca.cert.pem
  tck/src/main/java/com/github/bsideup/liiklus/ApplicationRunner.java
Labels: plugin/pulsar

#162 Validate configurations and add configuration tests
  app/src/main/java/com/github/bsideup/liiklus/Application.java
  app/src/main/java/com/github/bsideup/liiklus/config/GatewayConfiguration.java
  app/src/main/java/com/github/bsideup/liiklus/util/PropertiesUtil.java
  app/src/main/resources/application.yml
  app/src/test/java/com/github/bsideup/liiklus/ProfilesTest.java
  plugins/dynamodb-positions-storage/build.gradle
  plugins/dynamodb-positions-storage/src/main/java/com/github/bsideup/liiklus/dynamodb/config/DynamoDBConfiguration.java
  plugins/dynamodb-positions-storage/src/test/java/com/github/bsideup/liiklus/dynamodb/DynamoDBPositionsStorageTest.java
  plugins/dynamodb-positions-storage/src/test/java/com/github/bsideup/liiklus/dynamodb/config/DynamoDBConfigurationTest.java
  plugins/grpc-transport/build.gradle
  plugins/grpc-transport/src/main/java/com/github/bsideup/liiklus/transport/grpc/config/GRPCConfiguration.java
  plugins/grpc-transport/src/test/java/com/github/bsideup/liiklus/transport/grpc/config/GRPCConfigurationTest.java
  plugins/inmemory-positions-storage/build.gradle
  plugins/inmemory-positions-storage/src/main/java/com/github/bsideup/liiklus/positions/inmemory/config/InMemoryPositionsConfiguration.java
  plugins/inmemory-positions-storage/src/test/java/com/github/bsideup/liiklus/positions/inmemory/config/InMemoryPositionsConfigurationTest.java
  plugins/inmemory-records-storage/build.gradle
  plugins/inmemory-records-storage/src/main/java/com/github/bsideup/liiklus/records/inmemory/config/InMemoryRecordsConfiguration.java
  plugins/inmemory-records-storage/src/test/java/com/github/bsideup/liiklus/records/inmemory/config/InMemoryRecordsConfigurationTest.java
  plugins/kafka-records-storage/build.gradle
  plugins/kafka-records-storage/src/main/java/com/github/bsideup/liiklus/kafka/config/KafkaRecordsStorageConfiguration.java
  plugins/kafka-records-storage/src/test/java/com/github/bsideup/liiklus/kafka/KafkaRecordsStorageTest.java
  plugins/kafka-records-storage/src/test/java/com/github/bsideup/liiklus/kafka/config/KafkaRecordsStorageConfigurationTest.java
  plugins/metrics/build.gradle
  plugins/metrics/src/test/java/com/github/bsideup/liiklus/metrics/config/MetricsConfigurationTest.java
  plugins/pulsar-records-storage/build.gradle
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/config/PulsarRecordsStorageConfiguration.java
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/config/PulsarRecordsStorageConfigurationTest.java
  plugins/redis-positions-storage/src/main/java/com/github/bsideup/liiklus/positions/redis/config/RedisPositionsConfiguration.java
  plugins/redis-positions-storage/src/test/java/com/github/bsideup/liiklus/positions/redis/RedisPositionsStorageTest.java
  plugins/redis-positions-storage/src/test/java/com/github/bsideup/liiklus/positions/redis/config/RedisPositionsConfigurationTest.java
  plugins/rsocket-transport/build.gradle
  plugins/rsocket-transport/src/main/java/com/github/bsideup/liiklus/transport/rsocket/config/RSocketConfiguration.java
  plugins/rsocket-transport/src/test/java/com/github/bsideup/liiklus/transport/rsocket/config/RSocketConfigurationTest.java
  plugins/schema/build.gradle
  plugins/schema/src/main/java/com/github/bsideup/liiklus/schema/SchemaPluginConfiguration.java
  plugins/schema/src/test/java/com/github/bsideup/liiklus/schema/SchemaPluginConfigurationTest.java
  tck/src/main/java/com/github/bsideup/liiklus/records/tests/ConsumerGroupTest.java
Labels: enhancement

#164 Make `PulsarRecordsStorage` implement `FiniteRecordsStorage`
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorage.java
  plugins/pulsar-records-storage/src/main/java/org/apache/pulsar/client/impl/ConsumerImplAccessor.java
  tck/src/main/java/com/github/bsideup/liiklus/records/tests/EndOffsetsTest.java
Labels: enhancement, plugin/pulsar

#174 Fix closing of Pulsar's consumers
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorage.java
Labels: bug, plugin/pulsar

#177 Pulsar: use publishTime if eventTime is not set
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorage.java
  tck/src/main/java/com/github/bsideup/liiklus/records/tests/SubscribeTest.java
Labels: plugin/pulsar

#178 Pulsar: test that eventTime is preferred over publishTime
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorageTest.java
Labels: plugin/pulsar
