Repository bsideup/liiklus, pull requests merged in 2020-02, with the labels that each got.

#260 Handle non-partitioned Pulsar topics
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorage.java
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/AbstractPulsarRecordsStorageTest.java
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/NonPartitionedPulsarRecordsStorageTest.java
  plugins/pulsar-records-storage/src/test/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorageTest.java
  tck/src/main/java/com/github/bsideup/liiklus/records/tests/EndOffsetsTest.java
  tck/src/main/java/com/github/bsideup/liiklus/records/tests/PublishTest.java
Labels: bug, plugin/pulsar

#263 Don't generate random names to read end offsets in subscription
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorage.java
Labels: enhancement, plugin/pulsar

#252 CloudEvents support
  api/build.gradle
  api/src/main/java/com/github/bsideup/liiklus/records/KeyValueExtension.java
  api/src/main/java/com/github/bsideup/liiklus/records/LiiklusAttributes.java
  api/src/main/java/com/github/bsideup/liiklus/records/LiiklusCloudEvent.java
  api/src/main/java/com/github/bsideup/liiklus/records/RecordsStorage.java
  api/src/test/java/com/github/bsideup/liiklus/records/LiiklusCloudEventTest.java
  app/src/main/java/com/github/bsideup/liiklus/service/LiiklusService.java
  app/src/test/java/com/github/bsideup/liiklus/AckTest.java
  app/src/test/java/com/github/bsideup/liiklus/CloudEventsTest.java
  app/src/test/java/com/github/bsideup/liiklus/ConsumerGroupsTest.java
  app/src/test/java/com/github/bsideup/liiklus/EndOffsetsTest.java
  app/src/test/java/com/github/bsideup/liiklus/GroupVersionTest.java
  app/src/test/java/com/github/bsideup/liiklus/PositionsTest.java
  app/src/test/java/com/github/bsideup/liiklus/SmokeTest.java
  app/src/test/java/com/github/bsideup/liiklus/test/AbstractIntegrationTest.java
  app/src/test/java/com/github/bsideup/liiklus/test/ProcessorPluginMock.java
  examples/java/src/main/java/com/example/Consumer.java
  plugins/grpc-transport-auth/src/test/java/com/github/bsideup/liiklus/transport/grpc/GRPCAuthTest.java
  plugins/inmemory-records-storage/src/main/java/com/github/bsideup/liiklus/records/inmemory/InMemoryRecordsStorage.java
  plugins/kafka-records-storage/src/main/java/com/github/bsideup/liiklus/kafka/KafkaRecordsStorage.java
  plugins/pulsar-records-storage/src/main/java/com/github/bsideup/liiklus/pulsar/PulsarRecordsStorage.java
  plugins/schema/src/main/java/com/github/bsideup/liiklus/schema/JsonSchemaPreProcessor.java
  plugins/schema/src/test/java/com/github/bsideup/liiklus/schema/JsonSchemaPreProcessorTest.java
  plugins/schema/src/test/resources/schemas/basic.yml
  protocol/src/main/proto/LiiklusService.proto
  tck/src/main/java/com/github/bsideup/liiklus/records/RecordStorageTestSupport.java
  tck/src/main/java/com/github/bsideup/liiklus/records/tests/PublishTest.java
  tck/src/main/java/com/github/bsideup/liiklus/records/tests/SubscribeTest.java
Labels: enhancement
